/*
記事本文ページにセットする CSS。
React の dangerouslySetInnerHTML を使って既にある HTML を埋め込むため、className による指定ができない。
なので、.css を使った古き良きタグ一つ一つに修正を当てていくスタイルで行く。

一応、dangerouslySetInnerHTML の親の div に content_div っていう名前のクラス名をつけておいたので、
.contentdiv タグ名 { }
にすれば、dangerouslySetInnerHTML の中だけに適用される CSS になる。（記事を表示している部分以外には適用されない）

あと、dark:ユーティリティ で書いたあと、VSCode のフォーマットをかけると、dark: との間にスペースができるんだけど、スペースがあるとエラーが出ちゃうので注意してください。
*/

/* コードブロック */
.content_div code {
    font-family: var(--koruri-font);
}

/* Table（表）に線が入らないので調整 */
.content_div table {
    /* border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    margin: 10px; */
}

/* Tailwind CSS で aタグ の色が消えてしまったので、もとに戻す */
.content_div a {
    color: revert;
    text-decoration: revert;
}

/* Tailwind CSS で ulタグ のポチが消えてしまったので、元に戻す */
.content_div ul {
    /* list-style: revert;
    margin: revert;
    padding: revert; */
}
