@import 'tailwindcss';

@custom-variant dark (&:is(.dark *));

@theme {
  /* プライマリーカラー md_theme_light_primary */
  --color-content-primary-light: #4a58a9;
  --color-content-primary-dark: #bbc3ff;

  /* セカンダリーカラー md_theme_light_secondary */
  --color-content-secondary-light: #974068;
  --color-content-secondary-dark: #974068;

  /* 文字 md_theme_dark_background / md_theme_light_background */
  --color-content-text-light: #1b1b1f;
  --color-content-text-dark: #fefbff;

  /* コンテナの色 コンテンツの色の下に敷く プライマリーカラー md_theme_light_surface / md_theme_dark_surface */
  --color-container-primary-light: #fffbff;
  --color-container-primary-dark: #1b1b1f;

  /* コンテナの色 セカンダリーカラー md_theme_light_surface / md_theme_dark_surface の RGB それぞれに 0.95 倍したもの。カラーコード 明るさ とかで検索 */
  --color-container-secondary-light: #f2eef2;
  --color-container-secondary-dark: #19191d;

  /* エラー md_theme_light_error */
  --color-error-light: #ba1a1a;
  --color-error-dark: #ba1a1a;

  /* 背景色 md_theme_light_primaryContainer */
  --color-background-light: #dee0ff;
  --color-background-dark: #000000;

  /* 選択時の色（ホバー） md_theme_light_primary の 25% の色。16進数なので 40 です（RGBA） */
  --color-hover-light: #4a58a940;
  --color-hover-dark: #bbc3ff40;

  /* next/font で読み込んだやつ */
  --font-body: var(--koruri-font);
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {

  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

/* Firefox スクロールバー TODO Firefox だけ CSS を適用する技らしい */
@-moz-document url-prefix() {
  html {
    scrollbar-color: #5870cb transparent;
  }
}

/* スクロールバー */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #5870cb;
  border-radius: 10px;
}

/* Tailwind CSS に overflow-wrap: anywhere のユーティリティ名が追加されるまでの一時しのぎ */
/* https://github.com/tailwindlabs/tailwindcss/pull/12128 */
.break-anywhere {
  overflow-wrap: anywhere;
}