@tailwind base;
@tailwind components;
@tailwind utilities;

/* Firefox スクロールバー TODO Firefox だけ CSS を適用する技らしい */
@-moz-document url-prefix() {
    html {
        scrollbar-color: #5870cb transparent;
    }
}

/* スクロールバー */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #5870cb;
    border-radius: 10px;
}