/*
svg group に rotate が付いているため、X/Y が反転している... 
横並びで group 化して、それを回転すれば親が rotate 、子はそのままになるはず
*/

/* 画面外まで行く */
@keyframes car_end_to_end {
    from {
        transform: translate(-20px, 0px);
    }

    to {
        transform: translate(20px, 0px);
    }
}

/* 端まで */
@keyframes car_end {
    from {
            transform: translate(0px, 0px);
        }
    
        to {
            transform: translate(-10px, 0px);
        }
}

/* 踏切の棒 */
@keyframes train_bar {
    from {
        transform: rotate(0turn);
    }

    to {
        transform: rotate(-0.15turn);
    }
}

#icon_parent>svg {
    width: 40px;
    height: 80px;
}

#g861,
#g866 {
    animation: car_end_to_end 10s linear infinite normal;
}

#g958 {
    animation: car_end 5s linear infinite normal;
}

#g33305 {
    animation: car_end_to_end 10s linear infinite normal;
}

#path33340-8-9-9 {
    display: inline-block;
    transform-origin: 10px 8px;
    animation: train_bar 10s ease-in-out infinite alternate;
}